@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 340 80% 98%;
    --foreground: 336 30% 25%;
    --card: 340 69% 93%;
    --card-foreground: 336 30% 25%;
    --popover: 340 80% 98%;
    --popover-foreground: 336 30% 25%;
    --primary: 336 84% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 60% 90%;
    --secondary-foreground: 336 30% 25%;
    --muted: 340 60% 95%;
    --muted-foreground: 340 20% 45%;
    --accent: 187 100% 42%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 50% 88%;
    --input: 336 50% 92%;
    --ring: 187 100% 42%;
    --chart-1: 336 70% 50%;
    --chart-2: 187 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 336 10% 10%;
    --foreground: 340 10% 80%;
    --card: 336 10% 12%;
    --card-foreground: 340 10% 80%;
    --popover: 336 10% 10%;
    --popover-foreground: 340 10% 80%;
    --primary: 336 70% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 336 10% 20%;
    --secondary-foreground: 340 10% 80%;
    --muted: 336 10% 15%;
    --muted-foreground: 340 10% 50%;
    --accent: 187 80% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 336 10% 25%;
    --input: 336 10% 20%;
    --ring: 187 80% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
